<footer>
  <div class="container">
    <div class="row">
      <div class="span4"><a href="http://chicagosummeroflearning.org/"><img src="img/csol-logo.png" class="csol-logo" alt="Chicago Summer of Learning logo"></a></div>
      <div class="span4">
        <p>More than 100 organizations across the city have joined forces to integrate learning into summer activities for youth of all ages in every Chicago neighborhood.</p>
        <p>With your help, we'll launch the largest citywide summer learning campaign in the nation.</p>
      </div>
      <div class="span4 sponsors"><img src="img/footer-logo-city_of_chicago.png" alt="Seal of the City of Chicago"><img src="img/footer-logo-macarthur_foundation.png" alt="MacArthur Foundation Logo"><img src="img/footer-logo-mozilla.png" alt="Mozilla Logo"></div>
    </div>
    <div class="row final">
      <div><a href="mailto:summeroflearning@cityofchicago.org">summeroflearning@cityofchicago.org</a></div>
      <div>&copy; 2013</div>
    </div>
  </div>
</footer>